.products-cards-wrapper {
    max-width:90%;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-card{
    width:20%;
    margin-right: 30px;
    text-align: center;
    border: 1px solid;
    margin-bottom: 20px;
}

.product-card img{
    width:100%;
}